.app-header {
    display: flex;
    flex-flow: row wrap;
}
.app-header__navigation {
    flex: 1 0;
    align-items: center;
}
.app-header__navigation > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}
ul > li {
    list-style-type: none;
    cursor: pointer;
}
.col-sm {
    text-align: center;
}
a,a:hover{
    text-decoration: none;
    color:unset;
}
